body {
  background: #defcf9;

h1 {
  text-align: center;
  color: blue;
}

.contact-btn {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  width: 75%;
  border-radius: 25%;
  margin: 20px auto;

}